body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f2f2f2;
}
.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
  margin: 10px;
  padding: 10px;
  width: 80%;
}
.buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 18px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
}
